sitech-strategy-main/sitech-strategy-site/src/main/webapp/WEB-INF/services/axis/META-INF/questionNaireService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://impl.ws.service.process.strategy.sitech.com" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://impl.ws.service.process.strategy.sitech.com">
	<wsdl:types>
		<xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://impl.ws.service.process.strategy.sitech.com">
			<xs:element name="questionNaire">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" name="xmlStr" nillable="true" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="questionNaireResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="questionNaireRequest">
		<wsdl:part name="parameters" element="ns:questionNaire"/>
	</wsdl:message>
	<wsdl:message name="questionNaireResponse">
		<wsdl:part name="parameters" element="ns:questionNaireResponse"/>
	</wsdl:message>
	<wsdl:portType name="questionNaireServicePortType">
		<wsdl:operation name="questionNaire">
			<wsdl:input message="ns:questionNaireRequest" wsaw:Action="urn:questionNaire"/>
			<wsdl:output message="ns:questionNaireResponse" wsaw:Action="urn:questionNaireResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="questionNaireServiceSoap11Binding" type="ns:questionNaireServicePortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="questionNaire">
			<soap:operation soapAction="urn:questionNaire" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="questionNaireServiceSoap12Binding" type="ns:questionNaireServicePortType">
		<soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
		<wsdl:operation name="questionNaire">
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="questionNaireServiceHttpBinding" type="ns:questionNaireServicePortType">
		<http:binding verb="POST"/>
		<wsdl:operation name="questionNaire">
			<http:operation location="questionNaire"/>
			<wsdl:input>
				<mime:content part="parameters" type="application/xml"/>
			</wsdl:input>
			<wsdl:output>
				<mime:content part="parameters" type="application/xml"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="questionNaireService">
		<wsdl:port name="questionNaireServiceHttpSoap11Endpoint" binding="ns:questionNaireServiceSoap11Binding">
			<soap:address location="http://10.31.101.191:8090/sitech-strategy-site/services/questionNaireService.questionNaireServiceHttpSoap11Endpoint/"/>
		</wsdl:port>
		<wsdl:port name="questionNaireServiceHttpSoap12Endpoint" binding="ns:questionNaireServiceSoap12Binding">
			<soap12:address location="http://10.31.101.191:8090/sitech-strategy-site/services/questionNaireService.questionNaireServiceHttpSoap12Endpoint/"/>
		</wsdl:port>
		<wsdl:port name="questionNaireServiceHttpEndpoint" binding="ns:questionNaireServiceHttpBinding">
			<http:address location="http://10.31.101.191:8090/sitech-strategy-site/services/questionNaireService.questionNaireServiceHttpEndpoint/"/>
		</wsdl:port>
	</wsdl:service>
	<wsdl:documentation>questionNaireService</wsdl:documentation>
</wsdl:definitions>
